; indicate this is the root of the project
root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
indent_size = 4

[*.{cpp, h, hpp}]
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab
indent_size = 1

[*.yml]
indent_size = 2
