Package: fitutubiescalculator-dbgsym
Package-Type: ddeb
Source: fitutubiescalculator
Version: 1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Matej Mistik <xmisti00@stud.fit.vutbr.cz>
Installed-Size: 203
Depends: fitutubiescalculator (= 1.0)
Section: debug
Priority: optional
Description: debug symbols for fitutubiescalculator
Build-Ids: 264a93f583e2ff2ff9ff1a3ea0d91abd0538aa8e
