Source: fitutubiescalculator
Section: math	
Priority: optional
Maintainer: Matej Mistik <xmisti00@stud.fit.vutbr.cz>
Build-Depends: cmake, make, qtbase5-dev, qtwebengine5-dev
Standards-Version: 4.1.2
Homepage: https://github.com/RadekManak/ivs-fitutubies

Package: fitutubiescalculator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fitutubies-calculator supports : Basic counting (+,-,/,*), Exponentiation with Natural numbers, Root, Logarithm, Factorial, Trigonometric functions, Modulo, Variables & Constants.
 This application was developed for Practical Aspects of Software Design course at Brno University of Technology by team IVS-FITUTUBIES 1BIT. 
