[Desktop Entry]
Categories=Qt;Game;
Version=1.0
Exec=fitutubies-calculator
GenericName=calculator
Icon=fitutubies-calculator
Name=fitutubiescalculator
Type=Application
X-KDE-StartupNotify=false

